*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 700px;
    width: 100%;
    background-color: rgb(247, 233, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner{
    height: 400px;
    width: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
}

.inner>input{
    grid-column: span 4   ;
    height: 40px;
    border-radius: 10px;
    text-align: right;
}

.inner>button{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(173, 164, 152, 1);
    font-size: 20px;
    
}
